.about-us h5 {
  text-transform: uppercase;
  margin-bottom: 25px;
}
.welcome-text {
  margin-bottom: 15px;
  color: #868686;
}
.about-us p {
  color: #868686;
}
.about-us p span {
  margin-right: 10px;
  color: #beafa9;
}
