.top-banner {
  background-image: url("../../../home-decoration/Image_Icon/Image/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 100px;
}
.design h1 {
  text-transform: uppercase;
  font-weight: 700;
  color: #1f1632;
}
.design p {
  font-weight: 500;
  margin-top: 25px;
  color: rgba(26, 23, 23, 0.74);
}
.design button {
  background-color: #251d58;
  color: white;
  outline: none;
  border: none;
  padding: 10px 25px;
  font-weight: 500;
  border-radius: 5px;
  margin-top: 25px;
}
