.login-btn {
  display: flex;
  min-width: 350px;
  border-radius: 50px;
  border: 0.5px solid gray;
  outline: none;
  margin: auto;
}
.login-btn img {
  width: 30px;
}
.login-title {
  margin: auto;
  font-weight: 500;
}
